@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#root {
  margin-top: 56px;
}

.groupedList {
  background-color: white;
  position: relative;
  overflow: auto;
  max-height: calc(100vh - 56px - 56px);
}

@media (min-width: 0px) and (orientation: landscape){
  #root{
    margin-top: 48px; 
  }
}

@media (min-width: 600px){
  #root {
    margin-top: 64px;
  }
  .groupedList {
    max-height: calc(100vh - 64px - 56px);
  }
}

